@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Font structure */
html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    background-color: #081525;
    font-size: 2.8rem;
    color:  #E1A02E;
}

h1,
h2,
h3 {
    font-family: "Fira Sans", sans-serif;
}

h4 {
    font-weight: 700;
    font-size: 3.2rem;
}
h3 {
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: 700;
    font-size: 5.2rem;
}

h1 {
    font-weight: 900;
    font-size: 6.4rem;
}

/* overlays */


/* Quiz content */

.quizarea {
    height: 100vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* jumbotron */
.jumbotron {
    background-color: rgba(22, 68, 103, 0.7);
    z-index: 1;
}
.jumbotron a {
    color: #E1A02E;
}

/* buttons */

/* hyperlinks */
.social-links li a i {
    letter-spacing: 0.6rem;
    color: #E1A02E;
}

/* video */
#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
  }

/* footer */
.footer-header a {
    font-weight: 700;
    color: #E1A02E;
}